* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #ffc0cb;
  color: #333;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 10%;
  gap: 50px;
}

.hero-left img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  border: 6px solid white;
}

.small-text {
  font-size: 18px;
}

.hero-right h1 {
  font-size: 42px;
}

.hero-right h2 {
  font-size: 22px;
  margin: 10px 0;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #ff5fa2;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.about {
  padding: 70px 10%;
  background: #ffe4ec;
}

.about h2 {
  text-align: center;
  margin-bottom: 40px;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-content img {
  width: 250px;
  border-radius: 20px;
}

.experience {
  padding: 70px 10%;
}

.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  width: 300px;
}

.card h3 {
  margin-bottom: 15px;
}

.card ul li {
  margin-bottom: 8px;
}

.contact {
  background: #1f1f1f;
  padding: 60px 10%;
  color: white;
}

.contact h2 {
  margin-bottom: 30px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #2c2c2c;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.contact-item:hover {
  background: #ff5fa2;
}

.contact-item i {
  font-size: 20px;
}
